html{
    overflow-y: hidden;
}

body {
    background-image: linear-gradient(
            -45deg,
            rgb(34, 112, 148) 0%,
            rgba(87,111,230,1) 25%,
            rgb(42, 68, 192) 51%,
            rgb(1, 14, 70) 100%
    );
    animation: AnimateBG 20s ease infinite;
}

@keyframes AnimateBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

header {
    border-spacing: 50px;
}
.iconeHeader{
    font-size:30px;
    color: #ffffff;
    padding-left: 10px;
    padding-bottom:0;
    transition: all ease-in-out 0.25s;
}

.nav-link{
    padding-bottom :0;
}

.iconeTextHeader {
    color: rgba(0, 0, 0, 0);
    position :relative;
    top:-25px;transition: all ease-in-out 0.25s;

}

.ulheader > li:hover .iconeHeader{
    transform: translateY(-5px);

}

.ulheader > li:hover .iconeTextHeader {
    color: rgb(255, 255, 255);

    transform: translateY(15px);
}

main{
    height:100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    flex-wrap: nowrap;
}

.group {
    text-align: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.item {
    width: 47%;
    height: 83vh;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    white-space : nowrap;
    background-size:cover;
}

.left{
    border-radius: 20px 0 0 20px;
    background: linear-gradient(to bottom,
    rgba(28, 55, 164, 0.32) 70%,
    rgba(28, 55, 164, 0.3) 100%),
    url('../img/fond_dev_web.png') center;
}

.right{
    border-radius: 0 20px 20px 0;
    background: linear-gradient(to bottom,
    rgba(28, 55, 164, 0.32) 70%,
    rgba(28, 55, 164, 0.3) 100%),
    url('../img/fond_montage.png') right;
}

.title_service{
    margin: 37vh 10px;
    display: block;
    font-size: 90px;
    color: rgb(157, 184, 255);
    font-family: 'K2D', sans-serif;
}

body {

}




