html{
    overflow-y: hidden;
}

body{
    background-color: #000000;
    font-family: Titillium Web, serif;
}

header {
    border-spacing: 50px;
}
.iconeHeader{
    font-size:30px;
    color: #ffffff;
    padding-left: 10px;
}

.iconeTextHeader {
    color: #ffffff;
}

.ulheader > li:hover .iconeHeader{
    color:#8f75ff;
    transition: color ease-in 0.25s;
}

.ulheader > li:hover .iconeTextHeader {
    color: #8f75ff;
    transition: color ease-in 0.25s;
}

main{
    height:100vh;
    display: flex;
    margin: 0;
    background: linear-gradient(0deg, #2f1ba1, rgba(0, 0, 0, 0.35));
    align-items: center;
    justify-content: center;
    user-select: none;
}

.group {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    height: 100%;
    width: 90%;
}

.item {
    width: 35vw;
    height: 83vh;
    background-position: center;
    background-size: 75vh;
    margin: 1vw;
    border-radius: 3vw;
    display: inline-block;
    cursor: pointer;
}


